[options]
addons_path = /home/omalbastin/git/odoo12/odoo/addons,/home/omalbastin/git/odoo12/addons,/home/omalbastin/git/connector,/home/omalbastin/git/queue,/home/omalbastin/git/addonsConnector/connector-support-modules,/home/omalbastin/git/addonsConnector/connector-odoo-master-needed,/home/omalbastin/git/addonsConnector/connector-odoo-modules,/home/omalbastin/git/AddonsRnD-12

