[options]
addons_path = /home/omalbastin/git/odoo12/odoo/addons,/home/omalbastin/git/odoo12/addons,/home/omalbastin/git/connector,/home/omalbastin/git/queue,/home/omalbastin/git/addonsConnector/connector-support-modules,/home/omalbastin/git/addonsConnector/connector-odoo-master-needed,/home/omalbastin/git/addonsConnector/connector-odoo-modules,/home/omalbastin/git/AddonsRnD-12
#workers = 2
server_wide_modules = web,queue_job
[queue_job]
channels = root.o2o:4