[options]
addons_path = /home/omalbastin/git/odoo12/odoo/addons,/home/omalbastin/git/odoo12/addons,/home/omalbastin/git/server-tools,/home/omalbastin/git/bank-payment,/home/omalbastin/git/sale-workflow,/home/omalbastin/git/connector,/home/omalbastin/git/queue,/home/omalbastin/git/product-attribute,/home/omalbastin/git/connector-ecommerce,/home/omalbastin/git/sale-workflow,/home/omalbastin/git/addonsConnector/connector-support-modules,/home/omalbastin/git/addonsConnector/connector-prestashop-modules
#workers = 2
server_wide_modules = web,queue_job
[queue_job]
channels = root.prestashop:4