[options]
addons_path = /home/omalbastin/git/odoo13/odoo/addons,/home/omalbastin/git/odoo13/addons,/home/omalbastin/git/AddonsRnD,/home/omalbastin/git/connector,/home/omalbastin/git/queue,/home/omalbastin/git/addonsConnector/connector-support-modules,/home/omalbastin/git/addonsConnector/connector-odoo-master-needed,/home/omalbastin/git/addonsConnector/connector-odoo-modules
#workers = 2
server_wide_modules = web,queue_job
[queue_job]
channels = root.o2o:4



